<lint-module
    format="1"
    dir="/Users/apple/.pub-cache/hosted/pub.dev/firebase_auth-6.5.2/android"
    name=":firebase_auth"
    type="LIBRARY"
    maven="io.flutter.plugins.firebase.auth:firebase_auth:1.0-SNAPSHOT"
    agpVersion="8.11.1"
    buildFolder="/Users/apple/Documents/FlutterDev/sdk/beatflirt/build/firebase_auth"
    bootClassPath="/Users/apple/Library/Android/sdk/platforms/android-34/android.jar:/Users/apple/Library/Android/sdk/build-tools/35.0.0/core-lambda-stubs.jar"
    javaSourceLevel="17"
    compileTarget="android-34"
    neverShrinking="true">
  <lintOptions
      disable="InvalidPackage"
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true">
    <severities>
      <severity
        id="InvalidPackage"
        severity="IGNORE" />
    </severities>
  </lintOptions>
  <variant name="release"/>
</lint-module>
